# Backend configurations
PORT=5000
DATABASE_URL=postgresql://postgres:postgres@localhost:5432/warehouse_db
JWT_SECRET=super_secret_warehouse_key
USE_MOCK_DB=true  # Set to true to run in local mock fallback mode without Postgres active

# Frontend configurations
NEXT_PUBLIC_API_URL=http://localhost:5000
